.infoLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #212121;
  width: 100%;
  margin-bottom: 20px;
}
.AddGoods Button {
  margin: 0px;
}
.addGoodstitle {
  color: #212121;
  margin-right: 20px;
  white-space: nowrap;
}
.infoInput {
  flex-grow: 1;
}
.AddGoodMain {
  max-height: 500px;
}
.ant-upload-list-item-list-type-picture-card {
  overflow: hidden;
  position: relative;
}
.ant-upload-list-item-list-type-picture-card > div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
